/* Reposition the container color bar to the sides of the tab */

#tabbrowser-tabs .tab-context-line {
    display: none;
}

#tabbrowser-tabs .tab-background {
    border-right: solid 2px var(--identity-icon-color, #ccc) !important;
    border-left: solid 2px var(--identity-icon-color, #ccc) !important;
    transition: all .15s ease-in-out !important;
}

#tabbrowser-tabs .tab-background[selected="true"] {
    border-right: solid 5px var(--identity-icon-color, #fff) !important;
    border-left: solid 5px var(--identity-icon-color, #fff) !important;
}

/* All deselected tabs should have text with lower visibility */

.tab-label:not([selected="true"]) {
    color: #ddd !important;
}

/* Resize favicons in tab bar */

.tab-icon-image {
    /* Initially 16x16 */
    height: 20px !important;
    width: 20px !important;
    /* Was 5.5, and since we added 4px to 16, we subtract 4 here: */
    margin-inline-end: 1.5px !important;
}

/* Remove the small arrow from the search bar */

.search-go-container {
    display: none !important;
}

/* Remove additional buttons from the URL bar, but show them on hover with a small delay */

#urlbar-input-container>#page-action-buttons {
    opacity: 0;
    transition: all .5s ease-in-out;
}

#urlbar-input-container:hover>#page-action-buttons {
    animation: .5s delayedFadeIn ease-in-out;
    opacity: 1;
}

@keyframes delayedFadeIn {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Hide close buttons on tabs */

tab[selected="true"]>stack>hbox>.tab-close-button {
    opacity: 1 !important;
    display: block !important;
    transition: .25s all ease-in-out !important;
}

tab:not([selected="true"])>stack>hbox>.tab-close-button {
    opacity: 0 !important;
    transform: scale(0) !important;
    transition: .25s all ease-in-out !important;
}
